$--colors: (
  "primary": (
    "base": green,
  ),
  "success": (
    "base": #21ba45,
  ),
  "warning": (
    "base": #f2711c,
  ),
  "danger": (
    "base": #D34D25,
  ),
  "error": (
    "base": #D34D25,
  ),
  "info": (
    "base": #42b8dd,
  ),
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // do not use same name, it will override.
  $colors: (
    "primary": (
    "base": #1762F2,
  ),
  "success": (
    "base": #21ba45,
  ),
  "warning": (
    "base": #FFC700,
  ),
  "danger": (
    "base": #D34D25,
  ),
  "error": (
    "base": #D34D25,
  ),
  "info": (
    "base": #42b8dd,
  )
  )
);

// if you want to import all
@use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;

// custom dark variables
@use "./dark.scss";
.el-table{
  border: none !important;
}
