USE [master]
GO
/****** Object:  Database [wind]    Script Date: 2023-04-09 16:49:05 ******/
CREATE DATABASE [wind]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wind', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\wind.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'wind_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\wind_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wind].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wind]
GO
/****** Object:  Table [dbo].[biz_client]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[biz_client](
	[id] [varchar](64) NULL,
	[create_by] [varchar](64) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](64) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL,
	[remarks] [text] NULL,
	[tenant_id] [varchar](11) NULL,
	[name] [varchar](64) NULL,
	[phone] [varchar](11) NULL,
	[age] [int] NULL,
	[sex] [int] NULL,
	[address] [text] NULL,
	[location] [text] NULL,
	[avatar] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[biz_company]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[biz_company](
	[id] [varchar](64) NULL,
	[create_by] [varchar](64) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](64) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL,
	[remarks] [text] NULL,
	[tenant_id] [varchar](11) NULL,
	[name] [varchar](64) NULL,
	[contact] [varchar](64) NULL,
	[phone] [varchar](11) NULL,
	[address] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[biz_department]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[biz_department](
	[id] [varchar](64) NULL,
	[create_by] [varchar](64) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](64) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL,
	[remarks] [text] NULL,
	[name] [varchar](64) NULL,
	[parent_id] [text] NULL,
	[parent_ids] [text] NULL,
	[tenant_id] [varchar](11) NULL,
	[code] [varchar](64) NULL,
	[manager] [varchar](64) NULL,
	[address] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[biz_employee]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[biz_employee](
	[id] [varchar](64) NULL,
	[create_by] [varchar](64) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](64) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL,
	[remarks] [text] NULL,
	[tenant_id] [varchar](11) NULL,
	[name] [varchar](64) NULL,
	[sex] [int] NULL,
	[birthday] [date] NULL,
	[card_number] [varchar](64) NULL,
	[org_id] [varchar](64) NULL,
	[avatar] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[biz_event]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[biz_event](
	[id] [varchar](64) NULL,
	[create_by] [varchar](64) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](64) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL,
	[remarks] [text] NULL,
	[tenant_id] [varchar](11) NULL,
	[title] [varchar](64) NULL,
	[user_id] [varchar](64) NULL,
	[organization_id] [varchar](64) NULL,
	[date] [datetime] NULL,
	[type] [int] NULL,
	[content] [text] NULL,
	[location] [text] NULL,
	[image] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[biz_newscontent]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[biz_newscontent](
	[id] [varchar](64) NULL,
	[create_by] [varchar](64) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](64) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL,
	[remarks] [text] NULL,
	[tenant_id] [varchar](11) NULL,
	[newsContent_title] [varchar](64) NULL,
	[newsContent_describe] [text] NULL,
	[newsRelease_time] [datetime] NULL,
	[img] [text] NULL,
	[readings_number] [int] NULL,
	[newsType_id] [varchar](64) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[biz_newstype]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[biz_newstype](
	[id] [varchar](64) NULL,
	[create_by] [varchar](64) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](64) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL,
	[remarks] [text] NULL,
	[tenant_id] [varchar](11) NULL,
	[newsType_name] [varchar](64) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[biz_product]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[biz_product](
	[id] [varchar](64) NULL,
	[create_by] [varchar](64) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](64) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL,
	[remarks] [text] NULL,
	[tenant_id] [varchar](11) NULL,
	[name] [varchar](64) NULL,
	[price] [float] NULL,
	[count] [int] NULL,
	[image] [text] NULL,
	[company_id] [varchar](64) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[email_send_log]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[email_send_log](
	[id] [varchar](32) NULL,
	[email] [text] NULL,
	[subject] [varchar](255) NULL,
	[content] [text] NULL,
	[send_data] [text] NULL,
	[send_code] [varchar](255) NULL,
	[response_date] [datetime] NULL,
	[try_num] [int] NULL,
	[msg] [text] NULL,
	[status] [varchar](4) NULL,
	[del_flag] [varchar](1) NULL,
	[remarks] [varchar](255) NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[email_template]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[email_template](
	[id] [varchar](32) NULL,
	[name] [varchar](255) NULL,
	[code] [varchar](255) NULL,
	[template_subject] [varchar](20) NULL,
	[template_content] [text] NULL,
	[remarks] [varchar](255) NULL,
	[update_by] [varchar](32) NULL,
	[create_date] [datetime] NULL,
	[del_flag] [varchar](1) NULL,
	[create_by] [varchar](32) NULL,
	[update_date] [datetime] NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[oss_attachment]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[oss_attachment](
	[id] [varchar](32) NULL,
	[file_name] [varchar](50) NULL,
	[user_id] [varchar](32) NULL,
	[upload_time] [datetime] NULL,
	[upload_ip] [varchar](30) NULL,
	[file_extension] [varchar](10) NULL,
	[file_path] [text] NULL,
	[file_size] [int] NULL,
	[content_type] [varchar](100) NULL,
	[status] [varchar](1) NULL,
	[base_path] [text] NULL,
	[create_by] [varchar](32) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](32) NULL,
	[update_date] [datetime] NULL,
	[remarks] [varchar](255) NULL,
	[del_flag] [char](1) NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sms_send_log]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sms_send_log](
	[id] [varchar](32) NULL,
	[phone] [text] NULL,
	[template_name] [varchar](50) NULL,
	[send_data] [text] NULL,
	[send_code] [varchar](20) NULL,
	[try_num] [int] NULL,
	[status] [varchar](4) NULL,
	[smsid] [varchar](50) NULL,
	[code] [varchar](40) NULL,
	[msg] [text] NULL,
	[del_flag] [varchar](1) NULL,
	[response_date] [datetime] NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sms_template]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sms_template](
	[id] [varchar](32) NULL,
	[name] [varchar](255) NULL,
	[code] [varchar](255) NULL,
	[business_type] [varchar](4) NULL,
	[template_content] [varchar](255) NULL,
	[create_by] [varchar](32) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](32) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [varchar](1) NULL,
	[remarks] [varchar](255) NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_config]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_config](
	[id] [varchar](64) NULL,
	[create_by] [varchar](64) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](64) NULL,
	[update_date] [datetime] NULL,
	[remarks] [varchar](255) NULL,
	[name] [varchar](64) NULL,
	[code] [varchar](64) NULL,
	[type] [int] NULL,
	[value] [text] NULL,
	[del_flag] [int] NULL,
	[is_sys] [tinyint] NULL,
	[tenant_id] [varchar](11) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_data_rule]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_data_rule](
	[id] [varchar](64) NULL,
	[create_by] [varchar](64) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](64) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [int] NULL,
	[resource_code] [varchar](255) NULL,
	[scope_name] [varchar](255) NULL,
	[scope_field] [varchar](255) NULL,
	[scope_class] [varchar](500) NULL,
	[scope_column] [varchar](255) NULL,
	[scope_type] [int] NULL,
	[scope_value] [varchar](2000) NULL,
	[remarks] [varchar](255) NULL,
	[table_name] [varchar](64) NULL,
	[user_column] [varchar](64) NULL,
	[tenant_id] [varchar](64) NULL,
	[user_entity_field] [varchar](64) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_dict]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_dict](
	[id] [varchar](32) NULL,
	[gid] [varchar](32) NULL,
	[label] [varchar](100) NULL,
	[value] [varchar](100) NULL,
	[sort] [int] NULL,
	[remarks] [varchar](100) NULL,
	[create_by] [varchar](32) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](32) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_dict_group]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_dict_group](
	[id] [varchar](32) NULL,
	[name] [varchar](100) NULL,
	[code] [varchar](100) NULL,
	[remarks] [varchar](100) NULL,
	[create_by] [varchar](32) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](32) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_login_log]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_login_log](
	[id] [varchar](32) NULL,
	[login_name] [varchar](50) NULL,
	[login_ip] [varchar](50) NULL,
	[login_location] [varchar](255) NULL,
	[browser] [varchar](50) NULL,
	[os] [varchar](50) NULL,
	[status] [char](2) NULL,
	[msg] [text] NULL,
	[login_time] [datetime] NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_menu]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_menu](
	[id] [varchar](32) NULL,
	[permission] [varchar](100) NULL,
	[name] [varchar](100) NULL,
	[type] [varchar](50) NULL,
	[path] [varchar](200) NULL,
	[url] [varchar](200) NULL,
	[parent_id] [varchar](32) NULL,
	[parent_ids] [varchar](1000) NULL,
	[enabled] [tinyint] NULL,
	[sort] [int] NULL,
	[icon] [varchar](255) NULL,
	[redirect] [varchar](255) NULL,
	[component] [varchar](255) NULL,
	[remarks] [varchar](255) NULL,
	[create_by] [varchar](32) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](32) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_operation_log]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_operation_log](
	[id] [varchar](64) NULL,
	[title] [varchar](255) NULL,
	[content] [text] NULL,
	[log_type] [varchar](10) NULL,
	[create_by] [varchar](32) NULL,
	[create_date] [datetime] NULL,
	[request_uri] [varchar](255) NULL,
	[browser] [varchar](255) NULL,
	[os] [varchar](100) NULL,
	[operation_ip] [varchar](255) NULL,
	[operation_name] [varchar](255) NULL,
	[method] [varchar](255) NULL,
	[params] [text] NULL,
	[msg] [text] NULL,
	[status] [varchar](1) NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_organization]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_organization](
	[id] [varchar](64) NULL,
	[name] [varchar](100) NULL,
	[parent_id] [varchar](32) NULL,
	[parent_ids] [varchar](1000) NULL,
	[create_by] [varchar](32) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](32) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL,
	[remarks] [varchar](255) NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_role]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_role](
	[id] [varchar](64) NULL,
	[name] [varchar](100) NULL,
	[code] [varchar](255) NULL,
	[is_sys] [varchar](64) NULL,
	[usable] [varchar](64) NULL,
	[create_by] [varchar](64) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](64) NULL,
	[update_date] [datetime] NULL,
	[remarks] [varchar](255) NULL,
	[del_flag] [char](1) NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_role_data_rule]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_role_data_rule](
	[id] [varchar](64) NULL,
	[data_rule_category] [int] NULL,
	[data_rule_id] [varchar](64) NULL,
	[role_id] [varchar](64) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_role_menu]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_role_menu](
	[id] [varchar](32) NULL,
	[menu_id] [varchar](32) NULL,
	[role_id] [varchar](32) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_tenant]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_tenant](
	[id] [varchar](64) NULL,
	[create_by] [varchar](64) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](64) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL,
	[remarks] [text] NULL,
	[tenant_id] [varchar](64) NULL,
	[contact] [varchar](64) NULL,
	[phone] [varchar](64) NULL,
	[name] [varchar](64) NULL,
	[user_id] [varchar](64) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_user]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_user](
	[id] [varchar](64) NULL,
	[realname] [varchar](255) NULL,
	[username] [varchar](100) NULL,
	[portrait] [varchar](250) NULL,
	[password] [varchar](100) NULL,
	[salt] [varchar](100) NULL,
	[email] [varchar](64) NULL,
	[phone] [varchar](20) NULL,
	[status] [tinyint] NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](32) NULL,
	[update_date] [datetime] NULL,
	[remarks] [varchar](255) NULL,
	[del_flag] [char](1) NULL,
	[create_by] [varchar](32) NULL,
	[organization_id] [varchar](64) NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_user_role]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_user_role](
	[id] [varchar](32) NULL,
	[user_id] [varchar](32) NULL,
	[role_id] [varchar](32) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[task_schedule_job]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[task_schedule_job](
	[load_way] [varchar](1) NULL,
	[job_name] [varchar](255) NULL,
	[execute_class] [varchar](255) NULL,
	[create_by] [varchar](64) NULL,
	[update_date] [datetime] NULL,
	[job_group] [varchar](255) NULL,
	[job_status] [char](2) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](64) NULL,
	[description] [varchar](255) NULL,
	[is_concurrent] [varchar](255) NULL,
	[misfire_policy] [varchar](4) NULL,
	[method_params] [varchar](255) NULL,
	[method_name] [varchar](255) NULL,
	[cron_expression] [varchar](255) NULL,
	[id] [varchar](32) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[task_schedule_job_log]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[task_schedule_job_log](
	[id] [varchar](32) NULL,
	[job_name] [varchar](64) NULL,
	[job_group] [varchar](64) NULL,
	[execute_class] [varchar](500) NULL,
	[method_name] [varchar](500) NULL,
	[method_params] [varchar](200) NULL,
	[job_message] [varchar](500) NULL,
	[status] [char](2) NULL,
	[exception_info] [text] NULL,
	[create_time] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[test_car]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test_car](
	[id] [varchar](32) NULL,
	[name] [varchar](100) NULL,
	[code] [varchar](100) NULL,
	[remarks] [varchar](100) NULL,
	[create_by] [varchar](32) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](32) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[test_car_model]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test_car_model](
	[id] [varchar](32) NULL,
	[car_id] [varchar](32) NULL,
	[name] [varchar](100) NULL,
	[value] [varchar](100) NULL,
	[sort] [int] NULL,
	[remarks] [varchar](100) NULL,
	[create_by] [varchar](32) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](32) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[test_expand_table]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test_expand_table](
	[id] [varchar](64) NULL,
	[name] [varchar](255) NULL,
	[shop] [varchar](100) NULL,
	[category] [varchar](100) NULL,
	[address] [text] NULL,
	[description] [text] NULL,
	[tag] [varchar](200) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](32) NULL,
	[update_date] [datetime] NULL,
	[remarks] [varchar](255) NULL,
	[del_flag] [char](1) NULL,
	[create_by] [varchar](32) NULL,
	[organization_id] [varchar](64) NULL,
	[tenant_id] [varchar](64) NULL,
	[image] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[test_table]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test_table](
	[id] [varchar](64) NULL,
	[title] [varchar](255) NULL,
	[author] [varchar](100) NULL,
	[type] [varchar](250) NULL,
	[level] [varchar](100) NULL,
	[content] [text] NULL,
	[status] [varchar](32) NULL,
	[tag] [varchar](200) NULL,
	[readings] [int] NULL,
	[publish_date] [datetime] NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](32) NULL,
	[update_date] [datetime] NULL,
	[remarks] [varchar](255) NULL,
	[del_flag] [char](1) NULL,
	[create_by] [varchar](32) NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[test_tree_and_table]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test_tree_and_table](
	[id] [varchar](64) NULL,
	[name] [varchar](255) NULL,
	[type] [varchar](250) NULL,
	[tag] [varchar](200) NULL,
	[area_id] [varchar](64) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](32) NULL,
	[update_date] [datetime] NULL,
	[remarks] [varchar](255) NULL,
	[del_flag] [char](1) NULL,
	[create_by] [varchar](32) NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[test_tree_table]    Script Date: 2023-04-09 16:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test_tree_table](
	[id] [varchar](64) NULL,
	[name] [varchar](100) NULL,
	[geocoding] [varchar](32) NULL,
	[postal_code] [varchar](32) NULL,
	[parent_id] [varchar](32) NULL,
	[parent_ids] [varchar](1000) NULL,
	[create_by] [varchar](32) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](32) NULL,
	[update_date] [datetime] NULL,
	[del_flag] [char](1) NULL,
	[remarks] [varchar](255) NULL,
	[tenant_id] [varchar](64) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
